<div class="row">
	<div class="col-xs-4 col-xs-offset-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				Sign In
			</div>
			<div class="panel-body">
				<%= form_for @user, url: session_create_path do |f| %>
				  <%= render 'session/form', f: f %>
				  <button type="submit" class="btn btn-default">Login</button> or <%= link_to 'Registration', new_user_path %>
				<% end %>
			</div>
		</div>
		
	</div>
</div>


