<div class="row">
	<div class="col-xs-4 col-xs-offset-4">
				<h2 align="center">Join to Weekly Social</h2>
				<%= form_for @user do |f| %>
				  <%= render 'form_registration', f: f %>
				<% end %>
	</div>
</div>
