
    <div class="jumbotron">
      <div class="container">
        <h1 align="center">Hello, dear Visitor!</h1>
        <p align="center">You are now visiting our new service WeeklySocial. It is a new social network for interesting and easy communication with your friends and people, who are far away from You. We hope our new project will pleasantly surprise You.</p>
        <h1 align="center">Welcome!</h1>
      </div>
    </div>
    

    <div class="row">
        <div class="col-md-4">
          <h2 align="center">Simplicity</h2>
          <p align="center"><%= image_tag("simplicity.jpg", width: '350') %></p> 
          <p align="center">WeeklySocial is one most simple social netwoks nowadays. It allows you do anything beginning from usual message and anding with installing Your personal interface or privacy settings.</p>
        </div>
        <div class="col-md-4">
          <h2 align="center">Versatility</h2>
          <p align="center"><%= image_tag("versatility.jpg", width: '350') %></p>
          <p align="center">WeeklySocial allows You do any action on Your own page you want. That is You can change Your page view, place Your fotoes, news and personal information. All this will make Your page more interesting for other users. </p>
       </div>
        <div class="col-md-4">
          <h2 align="center">Great Mood</h2>
          <p align="center"><%= image_tag("greatmood.jpg", width: '350') %></p> 
          <p align="center">Being always in the area of understanding and interesting communication, You can travel all over the world? even without home leaving. It is trully amazing!</p>
        </div>
      </div>
  </div><!--/span-->
</div>