/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_self
 *= require_tree .
 */


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  
 
  a:hover{
    
    background-color:#428bca;
  }
}

.page-wrapper {
    min-height: 100%;
    margin-bottom: -50px;
    
}
* html .page-wrapper {
    height: 100%;

  
}
.page-buffer {
    height: 50px;
}
.page-footer{
	border-top: 2px solid #eeeeee;
}

 .side{
	border-right:2px solid #eeeeee;
	}
.page-header{
	border-bottom:2px solid #eeeeee;
    img {
    float: left;
    height: 55px;
    width: 55px;


 
    }

}