// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


 img {
    float: left;
    height: 200px;
    width: 200px;
    border:1px solid #eeeeee;
    }
table.text  {
    width:  100%; 
    border-spacing: 0; 
   }

   table.text td {
    width: 50%; 
    vertical-align: top;
    text-align: left; 
   }

   td.rightcol { 
    text-align: right; 
    }
    td.leftcol { 
    text-align: left; 
   }